body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image:url(../img/sakura\ flower.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}
.title{
    margin-top: 100px;
    color:rgb(100, 8, 8);
    
    
} 
.title h1{
    font-size: 32px;
    line-height: 10px;
} 
.title h2{
    font-size: 16px;
} 
.form-control{
    width: 600px;
    background: rgb(248, 246, 248);
    border-radius: 7px;
    outline:rgb(54, 13, 13);
    border-bottom: 1px solid brown;
    color:rgb(73, 17, 17);
    font-size: 18px;
    margin-bottom: 16px;
} 
input{
    height:45px;
} 
form .submit{
    background-color: blanchedalmond;
    border-color: transparent;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top:20px;
    transition:0.4 ease;
} 
form .submit:hover{
    background-color:crimson;
    cursor:pointer;
}